body {
  /* height: 100%;
  width: 100%;
  height: 100%; */
  color: black;
  font-weight: bold;
  animation: myanimation 10s infinite;
}

@keyframes myanimation {
  0% {
    background-color: rgb(133, 117, 117);
  }
  /* 25% {
    background-color: rgb(94, 85, 105);
    color: white;
  } */
  50% {
    background-color: rgb(94, 85, 105);
    color: black;
  }
  /* 75% {
    background-color: rgb(88, 80, 80);
    color: white;
  } */
  100% {
    background-color: rgb(88, 80, 80);
    color: white;
  }
}

.fName {
  color: red;
}
.success {
  color: rgb(159, 159, 218);
}
#name,
.intro {
  font-family: fantasy;
  width: 75%;
}

.myImg {
  background-image: url("../img//backimg.jpg");
  background-size: cover;
  background-position: center;
}
.myProfImg {
  border-radius: 250px;
}

.fontSty {
  font-family: fantasy;
}

.skill {
  font-family: fantasy;
  text-decoration: overline;
  text-align: center;
  margin: 30px 0px 0px 0px;
}

.skilTitle {
  text-align: center;
  text-decoration: underline;
  margin-top: 8px;
}

.container-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}

.container {
  justify-content: space-between;
  border-radius: 45px;
  width: 33%;
  display: flex;
  flex-wrap: wrap;
}

.card {
  border-radius: 45px;
  margin: 10px;
  text-align: center;
  animation: dance 13s infinite;
  box-shadow: 5px 10px 5px gray;
}

@keyframes dance {
  0% {
    transform: rotate(-5deg);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: scale(0.8);
  }
  75% {
    transform: rotate(0deg);
  }
  90% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.image {
  border-radius: 45px;
  float: inline-start;
  width: 100px;
  height: 150px;
  padding: auto;
}

.footer-container {
  border-radius: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #326d90;
}

.footer-container a {
  color: #191f25;
  font-family: fantasy;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;

  &:hover {
    color: #dbd8eb;
  }
}

.footer-container ul {
  display: flex;
  padding: 0;
  gap: 24px;
  list-style-type: none;
}

#copyright {
  text-align: center;
  color: #0b0f11;
  background-color: #dcf0c2;
}
